@font-face {
    font-family: "iconfont"; /* Project id 3027720 */
    src: url('//at.alicdn.com/t/font_3027720_sd1nu2sav2.woff2?t=1640415683438') format('woff2'),
         url('//at.alicdn.com/t/font_3027720_sd1nu2sav2.woff?t=1640415683438') format('woff'),
         url('//at.alicdn.com/t/font_3027720_sd1nu2sav2.ttf?t=1640415683438') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-danlieliebiao:before {
    content: "\e6e4";
  }
  
  .icon-suijibofang:before {
    content: "\e66b";
  }
  
  .icon-xunhuanbofang:before {
    content: "\e66c";
  }
  
  .icon-wy:before {
    content: "\e604";
  }
  
  .icon-shangyishou:before {
    content: "\e603";
  }
  
  .icon-xiayishou:before {
    content: "\e605";
  }
  
  .icon-zanting:before {
    content: "\e667";
  }
  
  .icon-bofang:before {
    content: "\e642";
  }
  
  .icon-paihangbang:before {
    content: "\e782";
  }
  
  .icon-meirituijian:before {
    content: "\e601";
  }
  
  .icon-sirenfm-copy-copy:before {
    content: "\e602";
  }
  
  .icon-gedan:before {
    content: "\e61b";
  }
  